<header>
    {{> navbar}}
    <h1>Admin</h1>
</header>
<main class="realtime-container">
<table id="productTable">
    <thead>
        <tr>
            <th>Id</th>
            <th>Título</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Categoría</th>
            <th>Status</th>
            <th>Código</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr data-id="{{this.id}}">
            <td>{{this.id}}</td>
            <td>{{this.title}}</td>
            <td>{{this.price}}</td>
            <td>{{this.stock}}</td>
            <td>{{this.category}}</td>
            <td>{{this.status}}</td>
            <td>{{this.code}}</td>
            <td><button class="delete-btn">Eliminar</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
    <section>
        {{>productsForm}}
    </section>
</main>
<script type="module" src="static/js/adminSocket.js"></script>
